<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "#{restaurant.category.downcase}.jpg" %>);">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{restaurant.user.username}", class: "avatar" %>
  <%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none text-white' %>
</div>
