<div class="container">
  <h1><%= @restaurant.chef_name %></h1>
  <p>Works at: <%= @restaurant.name %></p>
  <%= link_to 'Back to restaurant', restaurant_path(@restaurant), class: 'btn btn-secondary'  %>
</div>
