<div class="container">
  <h1>Add a Review for <%= @restaurant.name %></h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Add", class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
